* {
  margin: 0;
  padding: 0;
}

.App {
  width: 100vw;
  text-align: center;
  height: 100vh;
  padding: 3rem;
}

a {
  color: white;
}

p {
  font-weight: bold;
  color: #D9D919;
}

.light {
  background-color: #007FFF;
  color: white;
}

.dark {
  background-color: #3232CD;
  color: white;
}